In [1]:
import pandas as pd

In [2]:
df = pd.read_json("Shipping.json")
df

     Shipping_ID     Status  Customer_ID
0              1    Pending          173
1              2    Pending          155
2              3  Delivered          242
3              4    Pending          223
4              5  Delivered           72
..           ...        ...          ...
245          246    Pending          171
246          247    Pending           40
247          248  Delivered           37
248          249    Pending           55
249          250  Delivered           27

[250 rows x 3 columns]

In [4]:
df.to_excel("shipping.xlsx", index = False)